.fuel-quote-history {
    max-width: 500px;
    min-width: 300px;
    max-height: 500px;
    width: 30%;
    height: 60%;
    margin: 100px auto;
    background-color: #FFFFFF;
    border-radius: 25px;
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
}

.display-history{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: medium;
}

.back-btn11 {
    text-align: center;
    align-self: down;
    padding-top: 2rem;
    margin-top: 1.5rem;
     
 }

 .btn00 {
    margin: 0;
    //font-size: 1.5rem;
    color: rgb(5, 5, 5);
    text-align: center;
    
}