$font-1: "Roboto";
$font-3: "Catamaran", sans-serif;
$text-primary: #fbfbfe;
$text-secondary: #cfcfd8;
$border-primary: #52525e;
$border-secondary: #3a3944;




@mixin btnReset {
  background: none;
  box-shadow: none;
  border: none;
  
}

@mixin niceTxt {
  font-family: $font-1;
  font-weight: 500;
  color: $color-white-2;
  opacity: 0.85;
  text-shadow: $tshadow-black;
}

@mixin heightWidthSame($size) {
  height: $size;
  width: $size;
}

@mixin flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin heightWidth100 {
  height: 100%;
  width: 100%;
}


html {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  @media screen and (max-width: 1099px) {
    font-size: 50%;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
  min-height: 100vh;
  line-height: 1.6;
  background-image: linear-gradient(45deg, #1b1f1f, #1b1f1f, #1b1f1f);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: $font-1;
  font-size: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


// THIS IS THE MAIN APP STYLES
#root {
  @include heightWidth100;
  z-index: 2;
  position: absolute;
  width: 100vw;
  overflow: hidden;
  background-image: linear-gradient(45deg, #1b1f1f, #1b1f1f, #1b1f1f);
  color: white;
}

.headings {
  font-size: 2.142857rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.167;
  letter-spacing: -0.01562em;
  margin: 0;
  text-shadow: #191e23;
  color: #e6eeefd5;
  text-shadow: 1.5px 1.5px 14px #1112136b;
}

.btn {
  @include btnReset();
  background-color: rgb(64, 155, 188);
  border-radius: .25rem;
  padding: .5rem;
  color: white;
  cursor: pointer;
  
  transition: all .2s;

  &:hover {
    background-color: rgba(86, 92, 86, 0.411);
    transition: all .2s;

  }
}

.form-element {
  // flex: 1;
  position: relative;

    input {
        box-sizing: border-box;
        margin: .35rem;
        width: 100%;
        height: 40px;
        font-size: 1.1rem;
        border-radius: 9px;
        outline: none;
        border: none;
        padding-left: 1rem;
        margin-left: 0;
        border: 2px solid rgba(170, 175, 174, 0.463);
        background-color: rgba(27, 29, 31, 0.297);
        color: rgb(241, 240, 240);
    }

}


.form-element-label {
  position: absolute;
  @include flexcenter;
  height: 100%;
  left: 1rem;   
  font-size: 1.1rem;
  pointer-events: none;
}

.label {
  margin: 0;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $text-primary;
  font-family: $font-3;
  font-size: 1.2rem;
}

.form-row {
  width: 100%;
}